@font-face{
	font-family: 'Optima';
	src: url('../fonts/optima-webfont.eot');
	src: url('../fonts/optima-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/optima-webfont.woff') format('woff'),
	     url('../fonts/optima-webfont.ttf') format('truetype'),
	     url('../fonts/optima-webfont.svg#webfont') format('svg');
}

.navigation-bar {
    font-family: "Optima";
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 0px 100px;
    padding: 0;
    float: left;
    max-width: 266px;
    height: auto;
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
}

.navigation-bar ul {
    list-style-type: none;
    vertical-align: middle;
    float: right;
    margin: 50px 130px 0px 0px;
    padding: 0;
    overflow: hidden;
}

.navigation-bar li {
    display: inline;
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    width: 150px;
    padding: 14px 16px;
    text-align: center;
    color: black;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #111;
    color: white;
}

main {
    width: 80%;
    margin: auto;
    font-family: "Optima";
    padding-top: 118px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
}

.building {
    width: 60%;
    float: left;
    padding-bottom: 50px;
}

.infocontainer {
    width: 40%;
    float: right;
}

.textcontainer {
    padding-top: 75px;
    width: 60%;
    margin: auto;
    font-size: 18px;
}

.hourscontainer {
		float: left;
		width: 50%;
}

#link {
    text-decoration: none;
}

#link:link {
    color: black;
}

#link:active {
    color: black;
}

#link:visited {
    color: black;
}

#link:hover {
    color: red;
}

/* iPhone 6. 7. 8 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	.logo {
		max-width: 200px;
	}
}
